/* add css module styles here (optional) */

.test {
  font-size: 1em;
  list-style-type: none;
  margin: 2em;
  padding: 0.5em;
}

.repoContainer ul {
  list-style-type: none;
}

.star {
  height: 0.75em;
  padding-right: 0.2em;
}

.options {
  display: flex;
}
.options > li:first-child {
  padding-right: 1em;
}

.textUpdated {
  color: rgb(88, 88, 88);
  font-size: 0.8em;
}
