/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  list-style-type: none;
  font-size: 1em;
}

.repoContainer ul {
  list-style-type: none;
}

.star {
  height: 0.75em;
  padding-right: 0.2em;
}
